# Use text mode install
text
cdrom
repo --name="AppStream" --baseurl=file:///run/install/repo/AppStream
keyboard us
timezone UTC --utc
# Root user (optional)
rootpw --plaintext ${ vm_user_pwd }
# Create a user 'core' with password 'vm_user_pwd'
user --name=${vm_user} --password=${vm_user_pwd} --plaintext --gecos="Core User"
# Enable DHCP networking on first interface
network --hostname=${vm_name} --bootproto=dhcp --device=eth0 --onboot=on
# Disable initial setup UI and set SELinux and firewall
firstboot --disable
firewall --enabled --service=ssh
selinux --enforcing
# Set bootloader and disk partitioning
bootloader --location=mbr
autopart --type=plain
zerombr
clearpart --all --initlabel
# Enable SSH
services --enabled=sshd
# Skip user interaction
eula --agreed
reboot --eject
%packages
@^minimal-environment
openssh-server
%end



